.input-container {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  color: #7e7e7e;
  border: 1px solid var(--light-gray);
}

.icon {
  align-items: center;
  color: var(--dark-blue-500);
  display: flex;
  justify-content: right;
  min-width: 20px;
  padding: 10px;
}

.input-field {
  border: 0;
  box-sizing: border-box;
  font: inherit;
  font-size: 16px;
  margin: 0;
  padding: 10px 10px;
  width: 100%;
}
