.modal {
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal-main {
  background: white;
  border-radius: 4px;
  position: fixed;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 1200px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal-header {
  background-color: #e9ecf3;
}

.modal-header,
.modal-body {
  padding: 0 20px;
}
