[class*="button-"] {
  align-items: center;
  border: 0;
  border-radius: 4px;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  padding: 12px 25px 12px 25px;
  color: var(--dark-blue-500);
  margin-left: 10px;
}

.button-primary {
  background-color: #ffdd00;
}

.button-primary:hover {
  background-color: #ffcc00;
}

.button-secondary {
  background-color: #e9ecf3;
}

.button-secondary:hover {
  background-color: #c7cfe1;
}

.icon-button {
  display: flex;
  padding: 0 10px;
}
